@import './custom_colors';

.auth{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../assets/images/home-bg.jpg");
  height: 100%;
  width: 100%;
  min-height: 830px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-content{
    background-color: black;
}

.label{
    color: white;
}