@import "./custom_colors";

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../assets/images/home-bg.jpg");
  height: 100%;
  min-height: 830px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.button:hover {
  transition: 0.8s;
}

@media (max-device-width: 768px) {
  .home {
    min-height: 830px;
  }
  .title.is-2 {
    font-size: 30px;
    padding-top: 30px;
  }
  .subtitle.is-5 {
    font-size: 15px;
    padding-bottom: 20px;
  }
}
