@import './custom_colors';

.home {
    background-color: $custom-purple;
    height: calc(100% - 70px);
}

.register-button:hover{
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 80%;
    transition: 0.8s;
}

.button:hover{
    transition: 0.8s;
}