@import "./custom_colors";

.users{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),BLACK),url("../assets/images/home-bg.jpg");
  padding-top: 40px !important;
  
  .card-content{
    padding: 40px;
  }
  .users-edit{
    .title{
      margin-bottom: 15px;
    }
  }
}

.dropdown-item a{
  color: black;
}

.dropdown-item a:hover{
  color: rgb(37, 37, 37);
}